@import "../../index.scss";

.add-card {
    border-radius: 10px;
    background: $cream;
    width: 200px;
    height: 180px;
    display: flex;

    .add-container {
        @include center;

    }

    .add-icon {
        padding-top: 15px;
        width: 61px;
        height: 43px;
    }

    p {
        color: $completed;

        span {
            font-weight: bold;
            text-align: center;
        }
    }
}

.disconnect-btn {
    right: 33px;
    border: none;
    position: relative;
    top: 180px;
    border-radius: 6px;
    width: 104px;
    height: 33px;
    background: #FF6010;
    margin-top: 10px;
    cursor: pointer;
}

.add-btn {
    position: relative;
    border: none;
    border-radius: 6px;
    width: 104px;
    height: 33px;
    background: #FF6010;
    cursor: pointer;
    top: 9px;
    left: 50px;

}