@import "../../index.scss";

.order-card {
    width: 295px;
    margin: 10px 5px;
    border-radius: 0px 0px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    .order-button {
        width: 259px;
        height: 44px;
        background: $dark-blue;
        color: #D5EAFB;
        font-weight: 400;
        border: none;
        padding: 5px 15px;
        border-radius: 8px;
        font-size: 18px;
        &:hover{
            background: $dark-blue-hover;
            cursor: pointer;
        }
    }

    .client_info {
        padding: 15px;
        border-radius: 20px 20px 0 0;
        .left {
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                color: $black;
                margin: 0px;
            }
        }

        .right {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-weight: 700;
                font-family: "Red Hat Display", "serif";
                font-size: 20px;
            }

            p {
                color: $black;
                font-family: "Red Hat Display", "serif";
                font-weight: 500;
                font-size: 16px;
                margin:0px
            }
        }
    }

    .order_info {
        justify-content: center;
        margin: 10px;
        padding: 10px 0px;

        .item_name {
            display: flex;
            align-items: center;
            h2 {
                color: $black;
            }

        }

        .details {
            margin-left: 20px;
        }

        .button {
            display: flex;
            justify-content: center;
        }
    }

    .opcion-radio {
        display: inline-block;
        margin-right: 2px;
      }
      
      .opcion-radio input {
        margin-right: 5px;
      }
      
      
      .opcion-radio input[type=radio] {
          position: absolute;
          opacity: 0;
      }
      .opcion-radio input[type=radio] + label:before {
          content: '';
          background: #F4F5F8;
          border-radius: 100%;
          border: 1px solid #a6aec6;
          display: inline-block;
          width: 1.4em;
          height: 1.4em;
          position: relative;
          top: -.2em;
          margin-right: .5em;
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
          display: inline-block;
          vertical-align: middle;
      }
   
      .opcion-radio label {
          display: inline-block;
          vertical-align: middle;
          line-height: 32px;
      }
    hr {
        width: 90%;
    }
}


.state_initial{
    .client_info{
        background: $light-blue;
    }

    .opcion-radio input[type=radio]:checked + label:before {
        background-color: $dark-blue;
        box-shadow: inset 0 0 0 4px #F4F5F8;
    }
}

.state_completed{
    .client_info{
        background: $completed;
    }

    .opcion-radio input[type=radio]:checked + label:before {
        background-color: $completed;
        box-shadow: inset 0 0 0 4px #F4F5F8;
    }
}

.state_pending{
    .client_info{
        background: $pending;
    }

    .opcion-radio input[type=radio]:checked + label:before {
        background-color: $pending;
        box-shadow: inset 0 0 0 4px #F4F5F8;
    }
}




