.display-config {
    width: 440px;

    .title {
        font-size: 18px;
        font-weight: 500;
        color: orange
    }

    .sub-title {
        color: #000;
    }

    .display {
        display: flex;
        justify-content: space-around;
    }

}