.display-option {
    width: 120px;
    height: 175px;
    background: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .option-icon {
        width: 100px;
        height: 68px;
    }

}