@import "../../index.scss";

.dashboard-page {
    background: $light-blue;
    height: 100vh;
    width: 100%;

    .content {
        background: white;
        border-radius: 16px;
        width: 100%;
        max-width: 1320px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
}