@import "../../index.scss";

.dashboard-page {
    background: $light-blue;
    height: 100vh;

    .content {
        background: white;
        padding: 20px;
        border-radius: 16px;
        width: 86%;
        margin-left: 120px;
        top: 30px;
        position: relative;
    }
}