@import "../../index.scss";

.dashboard-page {
    background: $azul-claro;
    .content{
        background: white;
        padding: 20px;
        border-radius: 16px;
        width: 88%;
        position: relative;
        left: 120px;
        top: 10px;
    }
}