.info-general-title{
    color: orange;
    padding: 10px 20px 0px 20px;
}

.info-form {
    margin-top: 10px;
    padding: 10px 20px;

    .group {
        position: relative;
        padding: 5px 10px;
        height: 75px;
    }

    input {
        font-weight: 400;
        font-size: 14px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #757575;
        font-family: "Red Hat Display", "serif";
        margin-bottom: 50px;
    }

    input:focus {
        outline: none;
    }

    /* LABEL */
    label {
        font-family: "Red Hat Display", "serif";
        color: #202020;
        font-size: 18px;
        font-weight: 600;
        pointer-events: none;
    }

    /* active state */
    input:focus~label,
    input:valid~label {
        top: -20px;
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }

    /* BOTTOM BARS */
    .bar {
        position: relative;
        display: block;
        width: 300px;
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus~.bar:before,
    input:focus~.bar:after {
        width: 50%;
    }

 
    /* active state */
    input:focus~.highlight {
        animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS */
    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }
}