@import "../../index.scss";



.config_page{
    position: relative;

    .bg-blue{
        background: $light-blue;
    }

    .header_white{
        background: white;
        height: 152px;
        display: flex;
        justify-content: flex-start;
        align-items: end;
        border-radius: 0px 0px 20px 20px;
    }
  
    .header_blue{
        background: #2e418d;
        height: 120px;
        border-radius: 20px 20px 0px 0px;
    }
    .profile-pic{
        width: 174px;
        height: 184px;
        object-fit: cover;
    }
    .header_info{
        position: absolute;
        z-index: 99;
        top: 18px;
        left: 46px;
    }
    .conten_tabs{
        background: transparent;
        margin: 6px 0px 0px 0px;
        border-top: 13px solid #d5eafb;
        .bg_content{
            background: white;
            padding: 10px 10px;
            border-radius: 20px 20px;
            position: absolute;
            width: 100%;
            max-width: 1240px;
            height: 245px;
        }
    }
}