@import "../../index.scss";

.dashboard-page .content{
    background: transparent;
}

.config_page{
    position: relative;
    .header_white{
        background: white;
        height: 120px;
    }

    .header_blue{
        background: #2e418d;
        height: 120px;
        border-radius: 20px 20px 0px 0px;
    }
    .profile-pic{
        width: 174px;
        height: 184px;
        object-fit: cover;
    }
    .header_info{
        position: absolute;
        z-index: 99;
        top: 39px;
        left: 46px;
    }
    .conten_tabs{
        margin: 22px 0px 0px 10px;
    }
}