@import "../../index.scss";

.card {
    background: $cream;
    border-radius: 10px;
    width: 180px;
    height: 151px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;


    .container {
     display: block;
     text-align: center;    
    }

    .text-add{
        p{
            color: #79be81;
            font-weight: 700;
            text-align: center;
            margin: 0px;
        }
    }

    .icon {
        padding-top: 15px;
        width: 50px;
        height: 39px;
    }

  
    .text_active{
        color: $dark-blue;
        text-align: center;
        margin: 10px 0px 15px 0px;
        p {
            font-weight: bold;
            text-align: center;
            margin: 0px;
        }
    }

}

.btn {
    width: 104px;
    height: 33px;
    cursor: pointer;
    color: $white;
    font-family: "Red Hat Display", "serif";
    font-weight: 700;
    font-size: 14px;

}

.button-card {
    display: block;
    margin: 10px auto;
    border: none;
    position: relative;
    border-radius: 6px;
    background: $orange;
    margin-top: 10px;
    text-align: center;
    &:hover{
        background: #e35108;
    }
}

