@import "../../index.scss";



.card {
    border-radius: 10px;
    background: $cream;
    width: 200px;
    height: 180px;
    display: flex;

    .container {
        @include center;

    }

    .icon {
        padding-top: 15px;
        width: 61px;
        height: 43px;
    }

    p {
        color: $dark-blue;

        span {
            font-weight: bold;
            text-align: center;
        }
    }
}