@import "../../index.scss";

.card {
    background: $cream;
    border-radius: 10px;
    width: 180px;
    height: 151px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: block;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }

    .text-add {
        p {
            color: #79be81;
            font-weight: 700;
            text-align: center;
            margin: 0px;
        }
    }

    .icon {
        padding-top: 15px;
        width: 50px;
        height: 39px;
    }


    .text_active {
        color: $dark-blue;
        text-align: center;
        margin: 10px 0px 15px 0px;

        .text {
            font-weight: 800;
            text-align: center;
            margin: 0px;

            &.small-text {
                font-size: 16px;
            }

            &.medium-text {
                font-size: 18px;
            }

            &.large-text {
                font-size: 20px
            }
        }

        .subtext {
            font-weight: 800;
            text-align: center;
            margin: 0px;

            &.small-text {
                font-size: 16px;
            }

            &.medium-text {
                font-size: 18px;
            }

            &.large-text {
                font-size: 20px
            }
        }

        .state {
            font-family: "Stacion", sans-serif;
            font-weight: 300;
            font-style: italic;
            text-align: center;
            margin: 0px;

            &.small-text {
                font-size: 16px;
            }

            &.medium-text {
                font-size: 18px;
            }

            &.large-text {
                font-size: 20px
            }
        }
    }

}

.btn {
    width: 120px;
    height: 33px;
    cursor: pointer;
    color: $white;
    font-family: "Red Hat Display", "serif";
    font-weight: 700;
    font-size: 14px;

}

.button-card {
    margin: 10px auto;
    border: none;
    border-radius: 6px;
    background: $orange;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;

    &.small-text {
        font-size: 14px;
    }

    &.medium-text {
        font-size: 15px;
    }

    &.large-text {
        font-size: 16px
    }

    &:hover {
        background: #e35108;
    }
}