@import "../../index.scss";

.connected {
    width: 1288px;
    height: 397px;
    background: $white;

    .connected-title {
        color: $orange;
        padding-bottom: 20px;
    }

    .connected-group {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .content-center{
        display: block;
        text-align: center;
    }
}