@import "../../index.scss";

.kiosko-component {
    .connected-title {
        color: $orange;
        padding: 10px;
        margin: 0px;

        &.small-text {
            font-size: 20px;
        }

        &.medium-text {
            font-size: 24px;
        }

        &.large-text {
            font-size: 28px
        }
    }

    .connected {
        width: 100%;
        background: $white;
        overflow-y: auto;
        height: 212px;
        text-align: center;
        

        .connected-group {
            display: flex;
            flex-wrap: wrap;
            margin: 0px;
            padding: 0px;
            list-style: none;
            margin: auto 10px;

            .content-center {
                display: block;
                text-align: center;
            }

            .card{
                margin: 5px!important;
            }
        }

    }
}