@import "../../index.scss";

.order-button {
    width: 250px;
    height: 40px;
    background: $dark-blue;
    color: $light-blue;
    font-weight: 700;
    size: 28px;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
}