$cell-shadow: #F4F4F4;

$green: #79BF80;
$yellow: #F2B45D;
$red: #F3726C;
$grey: #F4F4F4;

.content-table {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    position: fixed;
    width: 100%;
    height: 540px;
    max-width: 1220px;
    background: #fff;
    padding: 0px 10px 10px 10px;

    .table_header{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: left;

        thead {
            text-align: center;
            padding: 20px 10px;
        }

        .th{
            padding: 20px 15px;
            font-size: 20px;
        }

        .th:nth-child(2) {
            text-align: left;
            width: 50%;
            padding-left: 40px;
        }

    }

    .table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: left;

        
        td {
            font-family: "Red Hat Display", serif;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            margin-right: 10px;
        }

        td:nth-child(1) {
            width: 50px;
        }

        td:nth-child(2) {
            width: 50%;
            text-align-last: left;
            font-weight: 500;
            font-family: "Schibsted Grotesk", sans-serif;
        }

        td:nth-child(3) {
            width: 60px;
            text-align-last: left;
            font-weight: 500;
            font-family: "Schibsted Grotesk", sans-serif;
        }

        td:nth-child(4) {
            width: 120px;
            text-align-last: center;
            font-weight: 500;
            font-family: "Schibsted Grotesk", sans-serif;
        }

        td:nth-child(5) {
            width: 100px;
            text-align-last: center;
            font-weight: 500;
            font-family: "Schibsted Grotesk", sans-serif;
        }


        th {
            font-family: "Red Hat Display", serif;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0em;
            text-align: center;
            background-color: #fff;
            padding: 20px 10px;
        }

        th :first-child {
            padding: 20px 0 0 10px !important;
        }

        th:nth-child(2) {
            text-align: left;
           
        }

        tr {
            height: 40px;
        }

        tr:nth-child(odd) {
            background-color: $grey;
        }

        .icon {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: block;
            padding: 4px;
            margin: 8px;
        }

        .text-success {
            color: $green;
            font-weight: 700;


        }

        .success {
            background: $green;
            mask-image: url(/src/assets/icons/alert.svg);
        }

        .text-warning {
            color: $yellow;
            font-weight: 700;
        }

        .warning {
            mask-image: url(/src/assets/icons/alert.svg);
            background: $yellow;
        }

        .text-danger {
            color: $red;
            font-weight: 700;
        }

        .danger {
            mask-image: url(/src/assets/icons/alert.svg);
            background: $red;

        }
    }

    .btn_notify {
        border-radius: 6px;
        background-color: #D5EAFB;
        border: 0;
        width: 82px;
        height: 30px;
        font-weight: 700;
        color: #2E418E;

        &:hover {
            background-color: #a5c1d9 !important;
            cursor: pointer;
        }
    }
}