.alert_table_full_screen {
    margin-top: 10px;
    max-width: 1550px;
    margin: auto;

    .content-table {
        width: 100% !important;
        max-width: 98% !important;
        margin: auto;
        display: block;
        position: relative;
        margin-top: 20px;

        .scroll_alerts {
            overflow: auto;
            height: 88vh !important;
        }

        .table_header {
            .th:nth-child(2) {
                text-align: left;
                width: 50%;
                padding-left: 40px;
            }

            .th:nth-child(3) {
                width: 135px;
            }

            .th:nth-child(4) {
                width: 230px;
            }

        }
    }

    .icon_close_full_screen{
        bottom: 0px;
        right: 0px;
        position: fixed;
        display: block;
        width: 52px;
        height: 52px;
        background: url(/src/assets/icons/close_screen.svg);
        background-size: cover;
        margin: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    
}