@import "../../index.scss";

.badge {
    background: $dark-blue;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: $light-blue;
    font-family: "Red Hat Display" serif;

    font-weight: 700;

    &.small-text {
        font-size: 14px;
    }

    &.medium-text {
        font-size: 16px;
    }

    &.large-text {
        font-size: 17px
    }

}